[defaults]
ask_vault_pass = True
inventory=./inventory
remote_user=lhalleb
collections_path=/home/lhalleb/Documents/Trainings/PythonCode/venv/lib/python3.13/site-packages/ansible_collections:./collections:~/.ansible/collections:/usr/share/ansible/collections
#collections_path=./collections:~/.ansible/collections:/usr/share/ansible/collections
collections_scan_sys_path=False

library=/home/lhalleb/.ansible/plugins/modules:/usr/share/ansible/plugins/modules
module_utils=/home/lhalleb/.ansible/plugins/module_utils:/usr/share/ansible/plugins/module_utils

[privilege_escalation]
become=False
become_method=sudo
become_user=root
become_ask_pass=False
